:host {
    display: block;
    height: 100%;
    overflow: auto;
}

.star-rating {
  display: inline-flex;
  margin-left: 0.5rem;
}

.star-rating i {
  font-size: 1rem;
  margin-right: 0.2rem;
}

.yellow {
  color: #FFC107;
}

.bi-star {
  color: #6c757d;
}